@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);

  .matx-avatar-with-icon {
    color: mat.get-color-from-palette($foreground, icon);
    background-color: mat.get-color-from-palette($background, background);
  }
}

@mixin density($config-or-theme) {
  $config: mat.get-density-config($config-or-theme);
}

@mixin typography($config-or-theme) {
  $config: mat.get-typography-config($config-or-theme);
  .matx-avatar-with-initials {
    font: {
      family: mat.font-family($config);
      weight: mat.font-weight($config, button);
    }
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);
  @if $color != null {
    @include color($theme);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($theme);
  }
}
