@use 'sass:color';
@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);
  $primary: map.get($config, 'primary');

  .matx-photo-picker__dropzone-icon {
    color: mat.get-color-from-palette($foreground, icon);
    background-color: mat.get-color-from-palette($background, background);
  }

  .matx-photo-picker.matx-file-dropzone {
    border-color: mat.get-color-from-palette($primary);
    background-color: color.adjust(
      mat.get-color-from-palette($primary),
      $lightness: 50%
    );
  }
}

@mixin density($config-or-theme) {
  $config: mat.get-density-config($config-or-theme);
}

@mixin typography($config-or-theme) {
  $config: mat.get-typography-config($config-or-theme);
  .matx-photo-picker__dropzone-title {
    font-family: mat.font-family($config);
    font-weight: mat.font-weight($config, 'body-1');
    font-size: mat.font-size($config, 'headline-5');
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);
  @if $color != null {
    @include color($theme);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($theme);
  }
}
